:root {
    --black: #020202;
    --light-black: #1e1e1e;
    --lighter-black: #2e2e2e;
    --white: #eaeaea;
    --dark-white: #c8c8c8;
    --darker-white: #a6a6a6;
    --shadow: #020202a2;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.btn {
    user-select: none;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

.btn:active {
    transform: scale(0.9);
}
